<% provide(:title, "Edit filiere") %>

<div class="container">
	<div class="admin-index-container">
		<h1>Update filiere <%= @filiere.nom %></h1>

		<div class="jumbotron admin-form">
			<%= form_for(@filiere) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= render 'fields', f: f %>

			<div>
				<%= f.submit "Save changes", class: "btn btn-lg btn-primary " %>
				<%= link_to "Annuler", filieres_path, class: "btn btn-lg btn-default  float-right" %>
			</div>
			<% end %>
		</div>
	</div>
</div>