<div class="columns">
	<%= render "menu" %>

	<div class="column three-fourths">
		<div class="boxed-group">
			<h3>Your profile</h3>
			<div class="boxed-group-inner clearfix">
				<%= form_for(current_user, url: profile_edit_path(current_user), html: {class: "columns", role: "form"}) do |f| %>
				<div class="column two-thirds">
					<dl class="user-edit-form">
						<dt>
							<%= f.label :filiere %>
						</dt>
						<dd>
							<%= f.select(:filiere_id, [['FI1', 1], ['FI2', 2]], {}, {class: "form-control", required: true}) %>
						</dd>
					</dl>
					<%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
					<% end %>					
				</div>
			</div>
		</div>
	</div>
</div>