<% provide(:title, 'Profile') %>

<div class="columns">
	<%= render "menu" %>

	<div class="column three-fourths">
		<div class="boxed-group">
			<h3>Your profile</h3>
			<div class="boxed-group-inner clearfix">
				<div class="column two-thirds">
					<table>
						<tr>
							<td class="title">Login</td>
							<td><%= current_user.login %></td>
						</tr>
						<tr>
							<td class="title">Filiere</td>
							<% if current_user.filiere != nil %>
							<td><%= current_user.filiere.nom %></td>
							<% else %>
							<td>NA</td>
							<% end %>
						</tr>
						<tr>
							<td class="title">Parcours</td>
							<% if current_user.parcours != nil %>
							<td><%= current_user.parcours.nom %></td>
							<% else %>
							<td>NA</td>
							<% end %>
						</tr>
						<tr>
							<td class="title">Options</td>
							<% if current_user.option != nil %>
							<td><%= current_user.option.nom %></td>
							<% else %>
							<td>NA</td>
							<% end %>
						</tr>
						<tr>
							<td class="title">LV2</td>
							<% if current_user.lv2 != nil %>
							<td><%= current_user.lv2.nom %></td>
							<% else %>
							<td>NA</td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>