<% provide(:title, 'Home') %>

<div class="page-header">
  <h1>ShareMyDocs</h1>
</div>

<div class="section">
  <p>ShareMyDocs is a unique application made by students of Telecom Saint-Etienne, for students of Telecom Saint-Etienne.</p>
  <p>Here you can upload and download any documents you need during your entire studies at Telecom Saint-Etienne.
  From personal notes on a course to exams and the corrections. All you have to do is upload your own documents for the next generation of students,
  because this application needs YOU to upload relevant documents.</p>
</div>

<div>
	<div class="arrow-box display-inline-block z-index-1 green-light-arrow light-green-border">
		<%= link_to 'CITISE1', { controller: 'documents', action: 'index', filiere: @citise1 } %>
	</div>
	<div class="arrow-box display-inline-block z-index-0 left-10px green-arrow light-green-border">
		<%= link_to 'CITISE2', { controller: 'documents', action: 'index', filiere: @citise2 } %>
	</div>
</div>
<div class="text-align-right">
	<div class="arrow-box display-inline-block z-index-2 red-lighter-arrow light-red-border">
		<%= link_to 'FI1', { controller: 'documents', action: 'index', filiere: @fi1 } %>
	</div>
	<div class="arrow-box display-inline-block z-index-1 left-10px red-light-arrow light-red-border">
		<%= link_to 'FI2', { controller: 'documents', action: 'index', filiere: @fi2 } %>
	</div>
	<div class="arrow-box display-inline-block z-index-0 left-20px red-arrow light-red-border">
		<%= link_to 'FI3', { controller: 'documents', action: 'index', filiere: @fi3 } %>
	</div>
</div>
<div class="text-align-right">
	<div class="arrow-box display-inline-block z-index-2 blue-lighter-arrow light-blue-border">
		<%= link_to 'FA1', { controller: 'documents', action: 'index', filiere: @fa1 } %>
	</div>
	<div class="arrow-box display-inline-block z-index-1 left-10px blue-light-arrow light-blue-border">
		<%= link_to 'FA2', { controller: 'documents', action: 'index', filiere: @fa2 } %>
	</div>
	<div class="arrow-box display-inline-block z-index-0 left-20px blue-arrow light-blue-border">
		<%= link_to 'FA3', { controller: 'documents', action: 'index', filiere: @fa3} %>
	</div>
</div>



